
.favorites h2{
    color: #fff;
    @media(min-width: 0px) and (max-width: 600px) {
        text-align: center;
    }
}

.movies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* responsive columns */
    gap: 1rem;
    padding: 1rem;

    @media(min-width: 0px) and (max-width: 600px) {
        grid-template-columns: 1fr; /* stack in one column */
        justify-items: center;      /* center the items horizontally */
    }
}